.drop-search{
  width: 1000%;
  padding: 8px 1.5rem;
  background: #fff;
  margin: 0 auto;
  top: calc(42px + 1rem);
  margin-left: 0;
  border: 1px solid #ddd; 
  border-radius: 8px;
  box-shadow: 0 0 16px #a6a4;
  position: absolute;
  z-index: 999;
}

.drop-search > .img-user::after {
  content: "";
  width: 90%;
  height: 1px;
  text-align: center;
  
  background-color: var(--dark);
  color: var(--dark);
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

