.DropSearchInput {
   position: relative;
}

.DropSearchInput img{
   display:block;
}

.DropSearchInput .nav-links {
flex-direction: column;
align-items: start;
gap: 1px;
}

.toggleInputSearch, .img-user {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 16px;
}

.toggleInputSearch{
   width:28px;
   height: 28px;
   /*background-color: #c0c0D9;*/
   border-radius: 50%;
   border: 1px solid #eef;
}

.toggleInputSearch:hover {
   background-color: #c0c0D950;
   border-radius: 50%;
   border: 1px solid #eef;
   box-shadow: 0 0 8px;
}

.toggleInputSearch img {
   width: 16px;
   height: auto;
}

.drop-search{
  
  padding: 16px 32px;
  background: var(--dark);
  margin: 0 auto;
  top: calc(42px + 1.5rem);
  margin-left: 0;
  border: 1px solid #ddd; 
  border-radius: 8px;
  box-shadow: 0 0 16px #a6a4;
  position: absolute;
  z-index: 999;
}

.drop-search > .img-user::after {
  content: "";
  width: 90%;
  height: 1px;
  text-align: center;
  
  background-color: var(--dark);
  color: var(--dark);
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #ccc5;
    padding: 12px 20px 12px 40px;
    outline: none;
    /*transition: width 0.2s ease-in-out;*/
  }

input[type=text]:focus {
    width: 100%;
  }

