#about {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

#about h2 {
    margin-bottom: 1.25rem;
    font-size: 2rem;
    color: var(--dark);
    display: flex;
    align-items: center;
}

#about h2::before {
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 1.5em;
    background-color: var(--dark);
}

#about p {
    margin-bottom: .625rem;
    width: 90%;
}

#about img {
    min-width: 420px
}
#about .images {
    padding: 0;
}
#about img {
    width: 75%;
}