.container-wrap {
    background-color: var(--dark);
}

#services {
    flex-direction: column;
    padding: 50px 0 100px 0;
}

#services h2 {
    color: var(--light);
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

#services > .FlexWrap {
    text-align: center;
    justify-content: space-between;
    align-items: baseline;
}

#services > .FlexWrap a {
    width: 12.5rem;
    height: 3rem;
/*     padding: 5px 10px; */
    margin-top: 1.25rem;
    background-color: var(--light);
    color: var(--dark);
    text-align: center;
    border-radius: calc(2rem - 2px);
    text-decoration: none;
    display: block;
    line-height: 3rem;
    font-weight: 700;
    font-size: .75rem;
    
}

#services > .FlexWrap p {
    color: var(--light);
    font-weight: 700;
    font-size: calc(1rem + 2px);
    margin-top: 1.25rem;
}

#services > .FlexWrap img {
    width: 80%;
    margin: auto;
}