.presentation {
    height: calc(100vh - var(--h-header));
    align-items: center;
    justify-content: space-between;
}

.presentation .text-presentation {
    min-width: 200px;
    max-width: 40%;
}

.text-presentation h1{
    color: var(--dark);
    font-size: 3rem;
    padding: 0 32px;
    margin-bottom: 10px;
    text-align: center;
}

.text-presentation .btn-link-1 {
    margin: 1.5rem auto;

}

/*  Padrão de butão para a seção "Apresentação" e "Planos"  */


.presentation .images {
    padding:0;
}

.images > img {
    width: 100%;
    border-radius: 10px;
}

